*{
	margin: 0%;
	padding: 0%;
	box-sizing: border-box
}
nav{
	position: relative;
}

.card1{
	width: 130px;
	height: 100px;
	background: #F55F39;
	position: absolute;
	top: 0;
	left: 700px;
}
.text{
	position: absolute;
	top: 170px;
	left: 200px;
}

.text1{
	width: 160px;
	height: 60px;
	background-color: #f55f39;
	color: white;
	position: absolute;
	top: 370px;
	left: 200px;
	text-align: center;
	font-size: 12pt;
}
.text2{
	width: 170px;
	height: 60px;
	background-color: #105eb8;
	color: white;
	position: absolute;
	top: 370px;
	left: 370px;
	text-align: center;
	font-size: 12pt;
}

.chap1{
	width: 530px;
	height: 480px;
	 background: #352F77;
	 position: absolute;
	 left: 150px;
	 top: 329%;
}

.cartt{
	margin-top: 40px;
	width: 350px;
	height: 70px;
	background: #2BCA8B;
}






